  <%= form_with model: @shelter, local: true do |f| %>
    <div class="form_name">
      <%= f.label :name %>
      <%= f.text_field :name %><br>
    </div>

    <div class="form_address">
      <%= f.label :address %>
      <%= f.text_field :address %><br>
    </div>

    <div class="form_city">
      <%= f.label :city %>
      <%= f.text_field :city %><br>
    </div>

    <div class="form_state">
      <%= f.label :state %>
      <%= f.text_field :state %><br>
    </div>

    <div class="form_zip">
      <%= f.label :zip %>
      <%= f.text_field :zip %><br>
    </div>

    <div class="form_open">
      <%= f.label :open %>
      <%= f.text_field :open %><br>
    </div>

    <%= f.submit %>
  <% end %>
