<h1>All Shelters</h1>
<ol>
<% @shelters.each do |shelter| %>
  <li>
    <div id="name"><h2><%= shelter.name %></h2></div>
  </li>
    <div id="address"><p>Address: <%= shelter.address %></p></div>
    <p><%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %></p>
    <div id="hours_of_operation"><p>Hours of operation: <%= shelter.hours_of_operation %></p></div>
<% end %>
</ol>
<br>
<h4><%= link_to "New Shelter", "/shelters/new" %></h4>
