<div id="name"><h1><%= @shelter.name %></h1></div>
<div id="address"><p>Address: <%= @shelter.address %></p></div>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
<div id="hours_of_operation"><p>Hours of operation: <%= @shelter.hours_of_operation %></p></div>

<%= link_to "Update Shelter", "/shelters/#{@shelter.id}", :method => :patch %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", :method => :delete %>

<div id="shelter_weather">
  <p>Weather Conditions: <%= @weather.temp_f %>&#8457; and <%= @weather.text %></p>
  <%= image_tag "#{@weather.icon}", alt: 'Shelter Weather' %>
</div>
