<div id="name"><h1><%= @pet.name %></h1></div>
<div id="species"><p>Type: <%= @pet.species %></p></div>
<div id="breed"><p>Breed: <%= @pet.breed %></p></div>
<div id="sex"><p>Sex: <%= @pet.sex %></p></div>
<div id="age"><p>Age: <%= @pet.age %> years</p></div>
<div id="description"><p>Description: <%= @pet.description %></p></div>
<div id="adopted"><p>Adopted: <%= @pet.adopted %></p></div>

<%= link_to 'Edit', "/pets/#{@pet.id}/edit" %>
<%= link_to 'Delete', "/pets/#{@pet.id}", method: :delete %>